table.whatsnew-dashboard th,
table.whatsnew-dashboard td {
  padding: 5px 6px;
  text-align: center;
}

table.whatsnew-dashboard th:first-child,
table.whatsnew-dashboard td:first-child {
  text-align: left;
  background: #000;
  color: #fff;
}

span.whatsnew-dashboard-cell {
  position: relative;
}

span.whatsnew-dashboard-cell .whatsnew-dashboard-cell-description {
  display: none;
  padding: 4px;
  border: 1px solid #aaa;
  background-color: #fff;
  border-radius: 12px;
  position: absolute;
  top: 100%;
  left: 100%;
  margin-left: -6px;
  margin-top: -6px;
  width: 320px;
  z-index: 100;
  -webkit-box-shadow: 6px 7px 5px -3px rgba(0,0,0,0.2);
  -moz-box-shadow: 6px 7px 5px -3px rgba(0,0,0,0.2);
  box-shadow: 6px 7px 5px -3px rgba(0,0,0,0.2);
}

span.whatsnew-dashboard-cell:hover .whatsnew-dashboard-cell-description {
  display: block;
}

span.whatsnew-dashboard-cell-major {
  color: #00a;
}

span.whatsnew-dashboard-cell-minor {
  color: #0a0;
}

span.whatsnew-dashboard-cell-security {
  color: #a00;
}

span.whatsnew-dashboard-cell-unsupported {
  color: #a00;
}

span.whatsnew-dashboard-cell-ok {
  color: #000;
}
